.log-container {
  margin-top: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .log-title {
    padding-top: 40px;
    font-size: 38px;
    text-align: center;
    letter-spacing: -0.76px;
    color: #3C3C3C;
    opacity: 1;
  }

  .log-decor {
    width: 253px;
    height: 33px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}


.log-inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F2F3F3;
  margin-left: 550px;
  margin-right: 550px;
  padding-top: 30px;
  padding-bottom: 30px;

  .log-label {
    font-weight: bolder;
    font-size: 16px;
  }

  .log-label:last-of-type {
    padding-top: 20px;
  }

  .log-input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #3C3C3C;
    background-color: transparent;
    padding-bottom: 20px;
    width: 200px;
  }
}

.log-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;

  .log-button {
    width: 124px;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 0;
    color: #3C3C3C;
    opacity: 1;
    border: 0.75px solid #3C3C3C;
    padding: 15px;
    margin: 10px;
  }

  .log-button:first-child {
    border: none;
  }

  .log-button-sign {
    text-decoration: none;
    color: #3C3C3C;
  }
}

