.contact-container {
  background-image: url("../assets/Background-Contact-Form.jpg");
  background-repeat: no-repeat;
  background-position: -200px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  height: 1026px;
  margin-right: 200px;
}

.contacts-title {
  padding-top: 40px;
  font-size: 38px;
  text-align: center;
  letter-spacing: -0.76px;
  color: #3C3C3C;
  opacity: 1;
}

.contact-decor {
  width: 253px;
  height: 33px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.fundactions-decor {
  width: 253px;
  height: 33px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.contact-start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #3C3C3C;
  background-color: transparent;
  height: 20px;
  padding-top: 10px;
  margin-right: 20px;
}

.form-name-email-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;

}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;

}

.contact-input-mess {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #3C3C3C;
  background-color: transparent;
  height: 100px;
  width: 320px;
  padding-top: 30px;
}

.button-contact {
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
  color: #3C3C3C;
  opacity: 1;
  border: 0.75px solid #3C3C3C;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 15px 35px 15px 35px;
  text-decoration: none;
  background-color: transparent;
}

.all-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error {
  font-size: 10px;
  color: red;
}

